<h1>Sign in!</h1>

<form action="<%= session_url %>", method="POST">

  <%= auth_token %>

  <label for="user_email">Email Address</label>
  <input type="text"
         name="user[email]"
         id="user_email">

  <br>

  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_email">

  <br>

  <input type="submit" value="Enter site">

</form>