<h1>Write a New Note</h1>

<form action="<%= notes_url %>" method="POST">
  <%= auth_token %>

  <textarea name="note[content]" value="<%= @note.content %>">
  </textarea>
  <br><br>
  
  <input type="hidden" name="track[id]" value="<%= @track.id %>">

  <input type="submit" value="Publish Note" >

</form>