<% if track.persisted? %>
  <% target_url = track_url(track) %>
  <% request_type = "PATCH" %>
  <% button_message = "Save Changes" %>
<% else %>
  <% target_url = tracks_url %>
  <% request_type = "POST" %>
  <% button_message = "Create Track" %>
<% end %>

<form action="<%= target_url %>" method="POST">
  <%= auth_token %>

  <input type="hidden" name="_method" action=<%= request_type %>>

  <label for="track_name">Name</label>
  <input type="text"
         name="track[name]"
         id="track_name"
         value="<%= track.name %>">
  <br><br>

  <label for="track_album_id">Album</label>
  <select name="track[album_id]" id="track_album_id">
  <% albums.each do |album| %>

    <option value="<%= album.id %>"
      <% if album == source_album %>selected="selected"<% end %>>
      <%= album.name %>
    </option>

  <% end %>
  </select>
  <br><br>

  <input type="radio"
         name="track[status]"
         id="track_status"
         value="Regular track">
  <label id="track_status">Regular track</label>

  <input type="radio"
         name="track[status]"
         id="track_status"
         value="Bonus track">
  <label id="album_recording_style">Bonus track</label>
  <br><br>

  <input type="Submit" value="<%= button_message %>">
</form>