<h1><%= @track.name %></h1>

<%= button_to "Edit", edit_track_url(@track), method: :get %>
<%= button_to "Delete", track_url(@track), method: :delete %>


<form action="<%= track_url(@track) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>

  <label for="track_lyrics">Lyrics:</label>
  <textarea name="track[lyrics]" id="track_lyrics">
    <%= @track.lyrics %>
  </textarea>

  <input type="submit" value="Publish">

</form>
<br><br>

<%= render "notes" %>

<br>
<a href="<%= new_track_note_url(@track) %>">
  Write a new note for this track
</a>
<br><br>

<%= button_to "Add another track", new_album_track_url(@album), method: :get %>
<br><br>

<a href="<%= album_url(@album) %>">
  Back to '<%= @album.name %>'
</a>
<br><br>