<% if album.persisted? %>
  <% target_url = album_url(album) %>
  <% request_type = "PATCH" %>
  <% button_message = "Save Changes" %>
<% else %>
  <% target_url = albums_url %>
  <% request_type = "POST" %>
  <% button_message = "Create Album" %>
<% end %>

<form action="<%= target_url %>" method="POST">
  <%= auth_token %>

  <input type="hidden" name="_method" action=<%= request_type %>>

  <label for="album_name">Name</label>
  <input type="text"
         name="album[name]"
         id="album_name"
         value="<%= album.name %>">
  <br><br>

  <label for="album_band_id">Band</label>
  <select name="album[band_id]" id="album_band_id">
  <% bands.each do |band| %>

    <option value="<%= band.id %>"
      <% if band == source_band %>selected="selected"<% end %>>
      <%= band.name %>
    </option>

  <% end %>
  </select>
  <br><br>

  <input type="radio"
         name="album[recording_style]"
         id="album_recording_style"
         value="Studio">
  <label id="album_recording_style">Studio</label>

  <input type="radio"
         name="album[recording_style]"
         id="album_recording_style"
         value="Live">
  <label id="album_recording_style">Live</label>
  <br><br>

  <input type="Submit" value="<%= button_message %>">
</form>