<h1>Add an Album</h1>

<%= render "form", bands: @bands, source_band: @band, album: @album %>

<!-- <form action="<%= new_band_album_url %>" method="POST">
  <%= auth_token %>

  <label for="album_name">Name</label>
  <input type="text" name="album[name]" id="album_name">
  <br><br>

  <label for="album_band_id">Band</label>
  <select name="album[band_id]" id="album_band_id">
  <% @bands.each do |band| %>

    <option value="<%= band.id %>"
      <% if band == @band %>selected="selected"<% end %>>
      <%= band.name %>
    </option>

  <% end %>
  </select>
  <br><br>

  <input type="radio"
         name="album[recording_style]"
         id="album_recording_style"
         value="Studio">
  <label id="album_recording_style">Studio</label>

  <input type="radio"
         name="album[recording_style]"
         id="album_recording_style"
         value="Live">
  <label id="album_recording_style">Live</label>

  <input type="Submit" value="Create Album">
</form> -->