<h1><%= @album.name %></h1>

<%= button_to "Edit", edit_album_url(@album), method: :get %>
<%= button_to "Delete", album_url(@album), method: :delete %>
<br>

Tracks: <br>
<% @album.tracks.each do |track| %>

  <a href="<%= track_url(track) %>">
    <%= track.name %>
  </a>
  <br>

<% end %>
<br>

<%= button_to "Add track", new_album_track_url(@album), method: :get %>
<br>

<a href="<%= band_url(@band) %>">
  Back to '<%= @band.name %>'
</a>