
<% if band.persisted? %>
  <% target_url = band_url(band) %>
  <% request_type = "PATCH" %>
  <% button_message = "Save Changes" %>
<% else %>
  <% target_url = bands_url %>
  <% request_type = "POST" %>
  <% button_message = "Create Band" %>
<% end %>

<form action="<%= target_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= request_type %>">

  <%= auth_token %>

  <label for=band_name>Name</label>
  <input type="text" name="band[name]" id="band_name" value="<%= @band.name %>">

  <br>

  <input type="submit" value="<%= button_message %>">

</form>