<h1><%= @band.name %></h1>

<%= button_to "Edit", edit_band_url(@band), method: :get %>
<%= button_to "Delete", band_url(@band), method: :delete %>
<br>

Albums: <br>
<% @band.albums.each do |album| %>

  <a href="<%= album_url(album) %>">
    <%= album.name %>
  </a>
  <br>

<% end %>
<br>

<%= button_to "Add album", new_band_album_url(@band), method: :get %>
<br>

<a href="<%= bands_url %>">Back to band list</a>