<% if logged_in? %>
  <%= current_user.email %>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_url %>
  or
  <%= link_to "Sign in", new_session_url %>
<% end %>